<html>
  <head>
    <% if(bot) { %>
      <title>@<%= bot.tag %></title>
    <% } else { %>
      <title>Discord Plays Minesweeper</title>
    <% } %>

    <%- include('header') %>
  </head>
  <body class="opc-darkmode w3-theme-l2">
    <%- include('navbar') %>
    <div class="w3-container opc-center-container">
      <div class="w3-container w3-card-4 w3-light-grey w3-text-black w3-padding-16 profileMain w3-theme-l1">
        <% if(bot) { %>
          <h1>@<%= bot.tag %></h1>
          <p>No user settings available yet.</p>
        <% } else { %>
          <h1>Discord Plays Minesweeper</h1>
          <p>The bot has not started yet.</p>
        <% } %>
      </div>
    </div>
  </body>
</html>
