.MineDataTab-all {
  line-height: 30px;
  position: relative;
  padding-left: 52px;
}

.MineDataTab-all::before, .MineDataTab-all::after {
  transition: transform 500ms linear, top 500ms linear, bottom 500ms linear, left 500ms ease-in-out;
  position: absolute;
  left: 10px;
  display: inline-block;
  content: " ";
  background: #e2e2e2;
  width: 30px;
  height: 8px;
  border-radius: 4px;
}

.MineDataTab-all::before {
  transform: rotate(30deg);
  top: 13px;
}

.MineDataTab-all::after {
  transform: rotate(-30deg);
  bottom: 13px;
}

.MineDataTab-all.dropdown-open::before {
  transform: rotate(-120deg);
  top: 19px;
  left: 8px;
}

.MineDataTab-all.dropdown-open::after {
  transform: rotate(120deg);
  bottom: 19px;
  left: 20px;
}

.MineDataTab-all:hover::before {
  background: #000000;
}

.MineDataTab-all:hover::after {
  background: #000000;
}
