<div>
  <p>Board:</p>
  <ul>
    <li>Width: <input class="board-num" num="width" type="number"></li>
    <li>Height: <input class="board-num" num="height" type="number"></li>
  </ul>
</div>
<div>
  <p>Mines:</p>
  <div>
    <% let k = Object.keys(minedata); %>
    <% if(k.length >= 1) { %>
      <% for(let i=0;i<k.length;i++) { %>
        <% let mod = minesweeper.modLoader.get(k[i]).mod; %>
        <div>
          <button data-rel="MineData-<%= mod.id.replace(/\./g,'_') %>" class="w3-button w3-block w3-left-align MineDataTab-all"><%= mod.name %></button>
          <div data-rel="MineData-<%= mod.id.replace(/\./g, '_') %>-Dropdown" class="MineData-all w3-container">
            <ul>
              <% let k2 = minedata[mod.id]; %>
              <% if(k2.length >= 1) { %>
                <% for(let j=0;j<k2.length;j++) { %>
                  <%- minedata[mod.id][j].getMineGeneratorEmbed(); %>
                <% } %>
              <% } else { %>
                <div>Couldn't load any mine settings? Maybe the bot is broken?</div>
              <% } %>
            </ul>
          </div>
        </div>
      <% } %>
    <% } else { %>
      <div>Couldn't load any mine categories? Maybe the bot is broken?</div>
    <% } %>
  </div>
</div>
<div>
  <button id="start-button">Create board</button>
</div>
