<div class="w3-top w3-black" id="dpm_navbar">
  <div class="w3-bar w3-theme-d2 w3-left-align" id="dpm_subnavbar">
    <a href="/" class="w3-bar-item w3-button w3-teal" style="height:40px;"><i class="fa fa-home w3-margin-right"></i>D<span class="w3-hide-small">iscord </span>P<span class="w3-hide-small">lays </span>M<span class="w3-hide-small">inesweeper</span></a>
    <a href="/settings" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-teal" style="height:40px;padding:12px 13.5px;"><i class="fa fa-cog"></i></a>
    <a href="/create" class="w3-bar-item w3-button w3-hover-teal" style="height:40px;">Create</a>
    <a href="/missions" class="w3-bar-item w3-button w3-hover-teal" style="height:40px;">Missions</a>
  </div>
</div>
